.button {
    display: flex;
    flex-direction: row;
}

.btn {
    margin: 8px;
}

p {
    padding: 5px;
    color: aliceblue;
    margin-bottom: -5px;
}

p.reply {
    text-align: right;
}

#start {
    width: 7rem;
}


.fa-keyboard {
    cursor: pointer;

}

#langs{
    height: 40px;
    margin: 8px;
    border-radius: 8px;
}

.translate {
    margin-right: 3px;
}

#description {
    display: flex;
    flex-direction: row;
}

#toTranslate {
    display: flex;
}

#google_translate_element{
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
}

#translation {
    margin-top: 25px;
}